{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
<div class="container post">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <form id="contactForm" method="post" action="index.php?action=admin/edit-post/editPostSubmitted&amp;id={{post.id}}">
                
                <h3 class="admin-title">Edit Post</h3>

                <h4>#ID : {{post.id}}</h4>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Title</label>
                        <input rows="5" class="form-control" type="text" id="title" name="title" value="{{post.title}}" required><br>
                    </div>
                </div>

                <div class="row control-group">
                  <div class="form-group col-xs-12 floating-label-form-group controls">
                      <label>Short Description</label>
                      <input rows="5" class="form-control" type="text" id="chapo" name="chapo" value="{{post.chapo}}" required><br>
                  </div>
                </div>

                <div class="row control-group">
                  <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Author</label>
                    <select name="author">
                        {% for user in usersAdmin %}
                            {% if user.idUser == post.author.id %}
                                <option value="{{user.idUser}}" selected> {{user.idUser}} - {{user.pseudo}}</option>
                            {% else %}
                                <option value="{{user.idUser}}"> {{user.idUser}} - {{user.pseudo}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row control-group">
                  <div class="form-group col-xs-12 floating-label-form-group controls">
                      <label>Content</label>
                      <textarea rows="5" class="form-control" id="content" name="content" required>{{ post.content }}</textarea><br>
                  </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <input type="submit" name="edit-post-success" class="btn btn-success btn-lg" value="Edit post">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}